body {
	background-color: #202020;
	color: #CDCCCC;
	font-family: Helvetica ,Verdana;
}

#welcome_window {
	position: absolute;
	left: 0px;	
	top: 0;
	width: 100%;
	height: 100%;
	background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	text-align: center;

}

#welcome_window h2 {
	padding-top: 2%;
	margin: 0;
	font-size: 72px;
	position: absolute;
	left: 0;
	right: 0;
	color: #F6F6F6;
	font-family: "Comic Sans MS";
    text-shadow: 3px 3px #000000;

}

.day_phrase {
	width: 90%;
	margin: 14% auto 0 auto;
	border-radius: 25px;
	background: rgba(32, 32, 32, 0.6); 
}

#day_text {
	padding: 5%;
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 2em;
	color: #F0F0F0;

}

#day_pic img{
	display: block;
	float: right;
	height: 300px;
	width: 20%;
}

#welcome_buttons {
	display: inline-block;
	width: 100%;
	height: 100px;
}


.go_on,
.go_back {
	float: right;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 40px;
	background-color: #202020;
	margin-right: 10%;
	padding-top: 9px;
	text-align: center;
	color: #B6B6B6;
	font-weight: bolder;
	letter-spacing: 1px;	
	font-size: 22px;
	opacity: 0.6;
}

.go_on:hover, .go_back:hover {
	opacity: 0.5;
}

#web_search {
	padding: 50px 0;
}

#field {
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 8px 0 0 8px;
	width: 40%;
	font-size: 15px;
	font-weight: bolder;
	color: #4D90FE;
	padding: 15px 15px;
	outline: none;
}

#submit {
	background: #4d90fe;
	border: 1px solid #3079ED;
	border-radius: 0 8px 8px 0;
	color: #FFF;
	font-weight: bold;
	padding: 15px 30px;
	outline: none;
}

#plus {
	float: left;
	font-size: 72px;
	height: 40px;

	margin-left: 5px;
	position: fixed;
	bottom: 25px;
}

#plus:hover {
	cursor: pointer;
}


#plus_menu {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -100%;
	left: 0px;
	bottom: 0px;
}

#plus_menu #left_part {
	float: left;
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0px;
	background-color: blue;
	border-right: 3px solid;
}

#plus_menu #right_part {
	float: right;
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0px;
	background-color: yellow;
}

#plus_menu #left_part h2 {
	text-align: center;
	font-size: 42px;
	font-weight: bold;
}

#plus_menu #right_part h2 {
	text-align: center;
	font-size: 42px;
	font-weight: bold;
}

#plus_menu #left_part form {
	text-align: center;
}

#add_fact {
	width: 70%;
	height: 150px;
	font-size: 25px;
	padding-top: 0;
}

#suggest_fact {
	margin-top: 10px;
}

#plus_menu .go_back {
	display: none;
}